@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

@font-face {
    font-family: Sem;
    src: url(../fonts/Harmond-SemBdItaCond.otf);
}

:root {
    --bgc: #fff;
    --bgtrans: rgba(224, 224, 224, 0.5);
    --textcolordark: #012c3d;
    --textcolorlight: #eee;
    --textcoloralt: #f8444f;
    --lightbgc: #f7f8f3;
    --greydark: #333333;
    --sbgc: #012c3d;
    --bgalt: #292a2f;
    --bgdark: #140d07;
    --sidemarg: 2.7777777778vw;
    --sidemarhalf: 12px;
    --sidemargneg: -24px;
    --sidemarhalfneg: -12px;
    --borderlight: rgba(208, 193, 187, 0.3);
    --letterspace: 1px;
    --letterspacenorm: 0.2em;
    --letterspacelong: 0.3em;
}

@media (max-width: 480px) {
    :root {
        --sidemarg: 2.7777777778vw;
        --sidemarhalf: 6px;
        --sidemargneg: -12px;
        --sidemarhalfneg: -6px;
    }
}

.tDark {
    color: var(--textcolordark);
}

.tLight {
    color: var(--textcolorlight);
}

.tsmall {
    font-size: 14px;
}

.minwidth {
    min-width: 480px;
}

.nomargin {
    margin: 0 !important;
}

.mBottom {
    margin-bottom: 8px !important;
}

.mRight {
    margin-right: 16px;
}

.mSide {
    margin-left: var(--sidemarg);
    margin-right: var(--sidemarg);
}

.mTop {
    margin-top: 96px !important;
}

.mDevide {
    margin-top: 32px;
}

.wlight {
    font-weight: 300 !important;
}

.wmed {
    font-weight: 500;
}

.rightAlign {
    text-align: right;
}

.noAbs {
    position: relative;
}

.invalid {
    opacity: 0.5;
}

body::-webkit-scrollbar {
    width: 0.4em;
    background-color: var(--textcolorlight);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bgalt);
    border-radius: 9999px;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

* {
    font-family: "Poppins", sans-serif;
    height: auto;
    color: var(--textcolordark);
    letter-spacing: normal;
}

a {
    transition: none;
}

.section {
    width: 100%;
    height: 100%;
    padding: 56px var(--sidemarg);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: var(--bgc);
    transition: background-color 1s;
}

.videoHeader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoHeader video {
    min-width: 100%;
    min-height: 100% !important;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 120%;
}

.navBar {
    height: fit-content;
    width: 100%;
    margin: 0 !important;
    padding: 16px var(--sidemarg) !important;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1000;
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--textcolordark);
    align-items: center;
}

.navBar * {
    transition: none;
    letter-spacing: var(--letterspacelong);
}

@media (max-width: 480px) {
    .navBar {
        margin: 0px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

.brand {
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.brand h2 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 24px;
}

.brand h1 {
    font-weight: 600;
}

.navToggle {
    width: fit-content;
    height: fit-content;
    margin-right: 12px;
}

.navContainer {
    height: fit-content;
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
}

.navMobContainer {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
}

.navMobContainer .nav {
    display: flex;
    justify-content: flex-start;
    padding: 32px 0;
    flex-direction: column;
}

.navMobContainer .nav li {
    padding: 0;
}

.navMobContainer .nav li a {
    padding: 4px 0px;
    font-size: 24px;
}

.navRight {
    width: fit-content !important;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 14px !important;
}

.navRight i {
    font-size: 20px;
}

.RoundA {
    border: 1px solid var(--textcolordark);
    border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    backdrop-filter: blur(32px) !important;
    height: fit-content;
    width: fit-content;
    background: none;
    color: var(--textcolordark);
}

.RoundA:hover {
    border: 1px dashed var(--textcolordark);
    color: var(--textcolordark);
    cursor: pointer;
}

.RoundA a {
    color: var(--textcolordark);
    text-decoration: none;
    font-weight: 400;
}

.RoundA a:hover {
    color: var(--textcolordark);
    text-decoration: none;
    font-weight: 400;
}

.nav {
    display: inline-flex;
    justify-content: space-around;
    padding: 4px 4px !important;
    background: var(--bgtrans);
    border-radius: 9999px;
    backdrop-filter: blur(16px);
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav li {
    padding: 4px;
    display: block;
}

.nav li a {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: var(--textcolordark);
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px;
}

.menu {
    padding: 0 !important;
    padding-right: 32px !important;
}

.menu a {
    color: var(--textcolordark);
    background: var(--bgc);
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.minus,
.plus {
    letter-spacing: 0;
}

.header {
    flex-direction: column;
    background-image: url("../media/header2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right top;
}

.headerContent {
    z-index: 1;
    width: 100%;
    height: 100%;
    color: var(--textcolordark) !important;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.headI {
    display: flex;
    justify-content: flex-start;
    padding-right: 64px;
    align-items: center;
}

.am {
    display: flex;
    justify-content: flex-end;
}

.headI h2 {
    font-size: calc(10.5vw + 10px);
    padding-left: 12px !important;
    font-weight: 400 !important;
    letter-spacing: var(--letterspace);
    line-height: 0.9;
}

.am h2 {
    font-size: calc(14.5vw + 10px) !important;
    font-weight: 400 !important;
    padding: 0 !important;
}


.redText {
    color: var(--textcoloralt);
}

.headRight {
    display: flex;
    flex-grow: 100;
    padding: 0;
    justify-content: space-between;
}

.headRight p {
    letter-spacing: var(--letterspacelong) !important;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 200;
}

.headerTop {
    padding-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: relative;
}

.headerSocial{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    padding-left: 0!important;
}

.headerSocial ul{
    list-style: none;
    padding-left: var(--sidemarg)!important;
}

.headerSocial ul li a{
    text-decoration: none;
    color: var(--textcolordark);
    font-size: 20px;
    font-weight: 400!important;
    letter-spacing: normal;
    text-transform: uppercase;
}

.headerTheme{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 32px;
    padding-right: 0!important;
}

.headerTheme ul{
    list-style: none;
    padding-right: var(--sidemarg)!important;
}

.headerTheme ul li a{
    text-decoration: none;
    color: var(--textcolordark);
    font-size: 20px;
    font-weight: 400!important;
    letter-spacing: normal;
    text-transform: uppercase;
}

.headerBottom {
    padding-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerScroll {
    padding: 32px;
    border-radius: 50%;
    background-color: var(--bgc);
}

.headerDescribe p {
    padding-bottom: 16px;
}

.headerDescribe a {
    font-size: 20px;
    padding: 8px 64px;
}

.second {
    flex-direction: column;
    justify-content: center;
}

.secondCenter {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100%;
}

.secondLeft,
.secondMid {
    text-transform: uppercase;
}

.second p {
    text-align: justify;
}

.secondRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.webNav {
    width: 360px;
}

.secImg img {
    width: 30%;
    filter: grayscale(100%);
    border-radius: 32px;
}

.secondRight img:hover {
    filter: none;
}

.secImg {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.secImg img:nth-child(1) {
    margin-top: -128px;
}

.secImg img:nth-child(2) {
    margin-left: -64px;
}

.secImg img:nth-child(3) {
    margin-top: 128px;
    margin-left: -64px;
}

.secondBottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 64;
}

.secondEnd {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
}

.skillsContent {
    z-index: 1;
    width: 100%;
    height: 100%;
    color: var(--textcolordark) !important;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.skillsHead {
    display: flex;
    justify-content: flex-start;
    padding-right: 64px;
    align-items: center;
}

.skillsHead h2 {
    font-size: calc(7.5vw + 10px);
    padding-left: 12px !important;
    font-weight: 300 !important;
    letter-spacing: var(--letterspace);
    line-height: 0.9;
}

.skills {
    display: flex;
    flex-grow: 100;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
}

.skills ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills ul li {
    display: block;
    background: var(--bgtrans);
    border-radius: 9999px;
    backdrop-filter: blur(16px);
    margin: 8px;
}

.skills ul li {
    padding: 16px 32px;
    display: block;
    text-decoration: none;
    color: var(--textcolordark);
    font-weight: 200;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: var(--letterspacelong);
}

.skills ul li:hover {
    background: var(--bgc);
}

.pageBottom {
    padding-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
}
.pageBottom .headerScroll {
    margin-left: 8px;
    padding: 16px;
}

.redSem {
    color: var(--textcoloralt);
    font-family: "Sem";
    text-transform: none;
    font-size: 44px;
}

.lbg {
    background-color: var(--lightbgc);
}

.workRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 256px!important;
    
}

.workImg img {
    width: 30%;
    margin: 32px 0;
    align-self: center;
}

.workImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-top: 64px;
    width: 100%;

}

.workMid{
    width: 45%!important;
}

.workLarge{
    width: 65%!important;
}

.sticky{
    height: fit-content;
}

.workPad{
    padding-right: 64px;
}

.divImg{
    width: 100%!important;
}

.workDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding-top: 64px;
    padding-bottom: 128px;
}

.workDiv h2{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: var(--letterspacelong);
}

.workH2{
    font-size: calc(10.5vw + 10px);
    font-weight: 400!important;
}

.pageScroll{
}

.pageScroll a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.pageScroll p{
    margin: 0 16px!important;
}

.pageTop {
    padding-top: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    position: relative;
    align-items: center;
}

