@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media screen and (min-width: 768px) {
    :root {
        --font-family: "Poppins", serif;
        --global-color: #d9d9d9;
        --global-dark: #1a1a1a;
        --dark-bg: #d9d9d9;
        --bg: #d9d9d9;
        --second-font: "Ephesis";
        --white: #fff;
        --font-size: 16px;
        --font-rem: 16rem;
        --font-rem2: 6rem;
        --font-rem3: 0.8rem;
        --font-rem4: 8rem;
        --font-rem5: 1rem;
        --heading-rem: 4rem;
        --margin-px1: -480px;
        --margin-px2: -320px;
        --margin-px3: 480px;
        --multi-height: 100vh;
        --padding-vert: 4rem;
        --padding-hor: 3.5rem;
        --bottom-sep: 1.5rem;
        --hor-sep: 3rem;
        --responsive-dir: row;
        --vert-sep: 1rem;
        --neg-half-font-rem: -8rem;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --font-family: "Poppins", serif;
        --global-color: #d9d9d9;
        --global-dark: #1a1a1a;
        --bg: #d9d9d9;
        --second-font: "Ephesis";
        --white: #fff;
        --font-size: 4px;
        --font-rem: 16rem;
        --font-rem2: 11rem;
        --font-rem3: 4rem;
        --font-rem4: 14rem;
        --font-rem5: 4rem;
        --heading-rem: 16rem;
        --margin-px1: -80px;
        --margin-px2: -60px;
        --margin-px3: 80px;
        --multi-height: 45vh;
        --padding-vert: 8rem;
        --padding-hor: 5rem;
        --bottom-sep: 2rem;
        --hor-sep: 12rem;
        --vert-sep: 1rem;
        --responsive-dir: column;
        --neg-half-font-rem: -8rem;
    }
}

html {
    font-size: var(--font-size);
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--global-dark);
    -webkit-font-smoothing: antialiased !important;
    line-height: 1;
}
.white {
    color: var(--global-color);
}

.NavContainer {
    width: 100%;
    padding: 30px 48px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--global-color);
    justify-content: space-between;
    align-items: center;
    background: #ffffff00;
    mix-blend-mode: difference;
    z-index: 10000;
}
.Nav li {
    display: inline;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--global-color);
}

.Brand {
    height: 48px;
    padding: 0;
    margin: 0;
    transition: all 1s;
}

.rightNav {
    column-gap: var(--hor-sep);
}

.BookButton {
    padding: 8px 32px;
    border-radius: 32px;
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-rem3);
    transition: all 1s;
}

@media screen and (max-width: 768px) {
    .BookButton {
        display: none;
    }
}

.NavIcon {
    width: 120px;
    height: 24px;
    border-bottom: 2px solid var(--white);
    border-top: 2px solid var(--white);
    color: #fff;
    transition: all 1s;
}

.Brand:hover {
    transform: rotateY(180deg);
}

.NavIcon:hover {
    transform: rotateX(180deg);
}

.BookButton:hover {
    padding: 8px 48px;
}

.NavMenu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    padding: var(--padding-vert) var(--padding-hor);

    .NavMenuRight {
        flex-grow: 1;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-start;
        ul {
            list-style: none;
            column-gap: 1rem;
            justify-content: flex-end;
            width: 100%;
            li {
                font-size: 2em;
            }
            .connectli {
                margin-right: var(--vert-sep);
                font-size: 2em;
            }
        }
    }
}

.NavMenuContainer {
    width: 60%;
    height: 100%;
    justify-content: flex-end;
    row-gap: var(--hor-sep);
    /* border-right: 2px solid var(--global-dark); */
    align-items: flex-start;
    ul {
        list-style: none;
        padding: 0 v0;

        align-items: flex-start;
        li {
            font-size: 8rem;
            /* border-left: 2px solid var(--global-dark); */
            margin-top: var(--hor-sep);
            padding-left: var(--hor-sep);
            text-transform: uppercase;
            .Curv {
                font-size: 2rem;
                /* display: none; */
                border-right: 1px solid var(--global-dark);
                padding-right: 1em;
            }
        }
    }
}

.loader {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100001;
    .loader-inner {
        height: 100%;
        width: 100%;
        background: var(--bg);
        z-index: 10001;
        .childLoad {
            height: 100vh;
            width: 100vw;
            background: var(--global-dark);
            z-index: 10002;
        }
    }
}

.HomePage {
    padding: 0;
    margin: 0;
}

.Container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Section {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    overflow: hidden;
    will-change: transform;
}

.Hero {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HeroBG {
    background: url("/src/Assets/hero.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.HeroHeader {
    color: var(--global-color);
    font-size: var(--font-rem);
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0px;
}
.HeroSub {
    font-size: var(--font-rem2);
    line-height: 0.3;
    display: flex;
    font-weight: 100;
    font-family: var(--second-font);
    color: var(--global-color);
}

.HeroBottom {
    position: absolute;
    bottom: 16%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: var(--font-rem3);
    color: var(--global-color);
}

.About {
    background: var(--bg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: var(--multi-height);
}

.AboutRow {
    font-size: var(--font-rem4);
    line-height: 0.85em;
}

.AboutRow1,
.AboutRow3,
.AboutRow4 {
    text-transform: uppercase;
    font-weight: 500;
}

.AboutRow2,
.AboutRow5 {
    font-family: var(--second-font);
}

.AboutRow1,
.AboutRow4 {
    margin-left: var(--margin-px1);
}
.AboutRow2 {
    margin-left: var(--margin-px2);
}
.AboutRow3,
.AboutRow5 {
    margin-left: var(--margin-px3);
}

.Me {
    background: var(--bg);
    padding: 0 var(--padding-hor);
    min-height: 80vh;
    height: 80vh;
}

.MeAbout {
    width: 100%;
    flex-grow: 0;
    padding: var(--padding-hor) 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h1 {
    text-transform: uppercase;
    font-size: var(--heading-rem);
    font-weight: 500;
}

.Me h1 {
    text-align: center;
    padding-right: var(--bottom-sep);
    border-right: 1px solid var(--global-dark);
    margin-right: var(--hor-sep);
    width: 10%;
}

.MeRight {
    width: 84%;
    height: 100%;
    justify-content: space-between;
}

.Me h2 {
    line-height: 1.5em;
    font-size: var(--font-rem5);
    font-weight: 400;
    width: 100%;
    padding-right: var(--hor-sep);
    text-align: left;
    color: var(--global-dark);
    opacity: 0.6;
}

.MeP {
    width: 60%;
    padding-right: var(--bottom-sep);
    text-align: left;
}

.MeP p {
    line-height: 1.5em;
    padding-bottom: var(--bottom-sep);
    font-size: 1rem;
}

.MeBottom {
    justify-content: flex-start;
    row-gap: var(--hor-sep);
    column-gap: var(--hor-sep);
    font-size: var(--font-rem3);
}

.MeBottom p {
    line-height: 1.5em;
}

.MeBottom a {
    text-decoration: none;
    border-bottom: 1px solid var(--global-dark);
}

.MeImage {
    width: 12rem;
    height: 100%;
    background: url("./components/Home/Assets/About.jpg");
    background-size: cover;
    margin-bottom: -2rem;
}

@media screen and (max-width: 768px) {
    .Me {
        background: var(--bg);
        padding: 0 var(--padding-hor);
        min-height: fit-content;
        height: 40vh;
    }

    .MeAbout {
        width: 100%;
        flex-grow: 0;
        padding: var(--padding-vert) 0;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    h1 {
        text-transform: uppercase;
        font-size: var(--heading-rem);
        font-weight: 500;
    }

    .Me h1 {
        text-align: center;
        padding-right: var(--bottom-sep);
        border-right: 1px solid var(--global-dark);
        margin-right: var(--hor-sep);
        width: 10%;
        display: none;
    }

    .MeRight {
        width: 100%;
        justify-content: space-between;
    }

    .Me h2 {
        line-height: 1.5em;
        font-size: var(--font-rem5);
        font-weight: 400;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .MeP {
        width: 60%;
        padding-right: var(--bottom-sep);
        text-align: justify;
    }

    .MeP p {
        line-height: 1.5em;
        padding-bottom: var(--bottom-sep);
    }

    .MeBottom {
        justify-content: space-between;
        row-gap: 2rem;
        column-gap: 2rem;
        flex-direction: row;
        align-items: flex-start;
        padding: var(--hor-sep) 0;
        display: none;
    }

    .MeBottom p {
        line-height: 1.5em;
    }

    .MeBottom a {
        text-decoration: none;
        border-bottom: 1px solid var(--global-dark);
    }

    .MeImage {
        width: 12rem;
        height: 100%;
        background: url("./components/Home/Assets/About.jpg");
        background-size: cover;
        display: none;
    }
}

.Work {
    height: fit-content;
    align-items: center;
    padding: var(--padding-vert);
    padding-top: 16rem;
}

.Work h1,
.ServicesStart h1 {
    font-size: var(--font-rem4);
    text-align: center;
    margin-left: 1em;
}

.Curv {
    font-family: var(--second-font);
    text-transform: none;
    line-height: 0.5em;
}

.Work .Curv,
.ServicesStart .Curv {
    margin-left: -2em;
}
.WorkSection {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    row-gap: var(--vert-sep);
    align-content: center;
}
.WorkBG {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    box-shadow: inset 0 2000px 50px rgba(0, 0, 0, 0.5);
}

.ServiveBG {
    top: -50vh;
}

.WorkHeader {
    color: var(--global-color);
    font-size: var(--font-rem4);
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;
}

.Services {
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    row-gap: var(--vert-sep);
    align-content: center;
    height: 232vw;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    .Services {
        height: 400vw;
    }
}

.ServiceBG {
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* filter: contrast(60%); */
    will-change: transform;
    transition: ease;
}

.topmargin {
    margin-top: -16vh;
}

/* .shadowH {
    text-shadow: 8px 8px 64px #000000;
} */

.ServicesHeader {
    color: var(--global-color);
    font-size: var(--font-rem4);
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;
    transition: ease;
}

.ServicesSub {
    font-size: var(--font-rem2);
    line-height: 0.3;
    display: flex;
    font-weight: 100;
    font-family: var(--second-font);
    color: var(--global-color);
}
.ExpColumn {
    width: 100%;
    height: 100%;
}
.ServicesStart {
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
}

.ServicesWrapper {
    height: 300vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 300vw;
    will-change: transform;
    transition: ease;
}

.ServiceCardContainer {
    height: 100vh;
    position: absolute;
    top: 0;
    /* padding-left: 100vw; */
    justify-content: flex-start;
    width: 300vw;
    margin-left: -20vw;
    will-change: transform;
}

.ServiceCard {
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-size: cover;
    will-change: transform;
    transition: ease;
    margin-right: 4rem;
    height: 64vh;
    width: 64vw;
    border-radius: 3.5vw;
}

.goTo {
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    color: var(--global-dark);
    background: var(--bg);
    position: absolute;
    top: 2.5vw;
    right: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer {
    background: var(--dark-bg);
    overflow: hidden;
    margin-top: -2px;
    padding: 0 var(--hor-sep);
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.borderBottom {
    border-bottom: 1px solid var(--global-dark);
}

.FooterBottom {
    width: 100%;
    padding: var(--bottom-sep) 0;
    font-size: var(--font-rem5);
}

.BottomRow {
    padding: var(--bottom-sep) 0;
    justify-content: space-between;
    width: 100%;
    p {
        font-size: var(--font-rem3);
        font-weight: 400;
    }
}

.SocialFooter {
    list-style: none;
    justify-content: flex-end;
    row-gap: var(--bottom-sep);
    column-gap: var(--bottom-sep);
    padding: 0 1rem;
}

.FooterTop {
    flex-grow: 1;
    padding: var(--padding-hor);
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.FooterTop .Curv {
    font-size: var(--font-rem2);
    line-height: 1em;
}

.FooterLeft {
    width: 20rem;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.FooterRight {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.ContactCard {
    border-radius: 100%;
    height: var(--font-rem);
    width: var(--font-rem);
    margin: 1rem;
    border: 2px solid var(--global-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-rem2);
    font-weight: 100;
    position: relative;
    box-sizing: content-box;
}

.ContactInfoCard {
    position: absolute;
    top: calc(var(--font-rem) / 2);
    left: calc(var(--font-rem) / 2);
    border-radius: 100%;
    height: 0;
    width: 0;
    background: var(--global-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-rem2);
    font-weight: 500;
    overflow: hidden !important;
    color: var(--global-color);
    font-size: var(--font-rem3);
    transition: all 1s;
    text-overflow: ellipsis;
    white-space: nowrap;
    will-change: auto;
}

.ContactCard:hover .ContactInfoCard {
    margin-top: var(--neg-half-font-rem);
    margin-left: var(--neg-half-font-rem);
    height: 100%;
    width: 100%;
}

.PageProgress {
    position: fixed;
    top: 50%;
    margin-top: -25vh;
    right: var(--padding-hor);
    width: 0.5rem;
    height: 50vh;
    background: #ffffff50;
    backdrop-filter: blur(64px);
    border-radius: 1rem;
    z-index: 2000;
}

.GoTop {
    position: fixed;
    right: -96px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--white);
    mix-blend-mode: difference;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.GoTop:hover {
    scale: 1.2;
}
